/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img { vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea { resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    -webkit-box-sizing: padding-box;
    -moz-box-sizing: content-box;
    box-sizing: padding-box;
    outline: none;
}

body {
    font-size: 23px;
    line-height: 23px;
    font-family: 'felt-tip-woman', "Courier New";
    color: #333;
    background: url(../img/bg_dots.png) -2px -2px;
    width: 100%;
    padding: 0;
    }

    label, input, button, select, textarea {
        font-size: 0.8em;
        font-weight: normal;
        line-height: 1em;
        }


    h1, h2 {    
        font-family: 'flood-std'; 
        font-weight: bold;
        font-size: 1.3em;
        line-height: 1.2em;
        background: url(../img/header_underline.png) bottom left no-repeat;
        padding-bottom: 27px;
        }

        h4 { 
            margin: 30px 0 10px;
            font-size: 1.15em;
            }

    a, a:visited {
        background: #ccff49;
        color: rgb(102, 102, 102);
        }    

    a:hover, a:focus { 
        color: #07d9f2; 
        text-decoration: none;
        cursor: pointer;
        }  

    ul, p { margin-bottom: 15px; }

    p { margin-top: 5px; }

    li { margin-bottom: 10px;}

    small { font-size: 0.8em; }

    .clear { clear: both; }

    .row { 
        margin-bottom: 10px; 
        margin-left: 0;
        }

        .row h3 { margin-bottom: -3px; }

    .alert-success { margin-top: 30px; }
    .alert-error { 
        margin-top: 30px; 
        font-size: 0.8em;
        }

    .mediumView { display: none; }

    .mockText { font-family: "Redacted"; }

    .left { float: left; }

    .right { float: right; }

    .fullWithMargin {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        }

    canvas { 
        position: absolute; 
        top: 0;
        left: 0;
        }

    hr {
        clear: both;
        visibility: hidden;
        }


#masthead, #mainNav, #pagefooter { margin: 0 auto; }

section {
    margin-bottom: 60px;
    padding: 0 5%;
    }

    .inner {
        max-width: 960px;
        margin: 0 auto;
        }

        .offsetRight { margin-bottom: 50px; }

        #paamelding .offsetRight { margin-bottom: 10px; }

.cleanlist, .cleanlist li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    }


/* MASTHEAD */
#masthead { 
    padding-top: 20px; 
    position: relative;
    z-index: 1;
    clear: both;
    display: table;
    width: 100%;
       -moz-transition: position 0.5s, background 0.5s, padding-top 0.5s;
    -webkit-transition: position 0.5s, background 0.5s, padding-top 0.5s;
         -o-transition: position 0.5s, background 0.5s, padding-top 0.5s; 
            transition: position 0.5s, background 0.5s, padding-top 0.5s;
    }

     #masthead .inner { max-width: 1220px; }

    #masthead hgroup { display: none; }

        #masthead img {
            display: block;
            margin: 0 auto 25px;
            width: 49%;
            max-width: 480px;
            float: left;
            margin-left: 5%;
            -webkit-transition: width 0.5s, -webkit-transform 0.5s;
               -moz-transition: width 0.5s,    -moz-transform 0.5s;
                 -o-transition: width 0.5s,      -o-transform 0.5s;
                    transition: width 0.5s,         transform 0.5s;
            }


/* NAV */
#mainNav {
    display: table;
    width: 100%;
    margin-left: -1px;
    margin-top: -23px;
    }

    #mainNav li {
        width: 50%;
        float: left;
        }

    #mainNav a {
        background: #a6f0e4;
        display: block;
        padding: 20px 0;
        color: #000;
        text-align: center;
        font-weight: bold;
        font-family: 'flood-std', Arial, Sans-serif;
        opacity: 0.5;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
        }

        #mainNav a:hover, #mainNav a:focus {
            text-decoration: none;
            opacity: 1;
            }



#pagefooter {
    width: 95%;
    margin: 50px auto 10px;
    }

    #pagefooter ul {
        clear: both;
        display: table;
        margin-top: 10px;
        margin-bottom: 30px;
        width: 100%;
        max-width: 320px;
        }

        #pagefooter li {
            float: left;
            width: auto;
            margin-right: 2%;
            }

                #pagefooter img {
                    max-width: 100%;
                    height: 85px;
                    display: block;
                    }


@media screen and (min-width: 480px) {

    

} /* / min-width 480 */


@media screen and (min-width: 750px) {

        #masthead .inner { width: 90%; }

        #masthead img { 
            margin-left: 0; 
            width: 30%;
            -webkit-transition: width 0.5s, -webkit-transform 0.5s;
               -moz-transition: width 0.5s,    -moz-transform 0.5s;
                 -o-transition: width 0.5s,      -o-transform 0.5s;
                    transition: width 0.5s,         transform 0.5s;
            }

    

} /* Min-width 750 */


@media screen and (min-width: 1200px) {

    #masthead { padding-top: 45px; }

    section { margin-bottom: 200px; }

        h2 { font-size: 2.8em; }

    section h2 { position: relative; }

    section h2:after {
        content: '';
        background: url(../img/details/heading_size.png) center left no-repeat;
        position: absolute;
        left: -200px;
        top: 20%;
        width: 160px;
        height: 50px;
        }   

        .offsetRight {
            margin-left: 33.9%;
            width: 100%;
            max-width: 634px;
            }

        #Challange { font-size: 2em; }

        .scrolled #masthead h1, .scrolled #masthead h2 { 
            font-size: 1.05em; 

        }

    /* NAV */
    #mainNav {
        position: fixed;
        left: 0;
        top: 150px;
        z-index: 2;
        width: auto;
        background: url(../img/details/menu_follow_scroll.png) top center no-repeat;
        padding-top: 90px;
        margin-bottom: 0;
        }

        #mainNav ul { padding-top: 5px; }

        #mainNav.inactive { background: none; }

        #mainNav.inactive:after {   
            content: '';
            position: absolute;
            top: 87px;
            left: 20px; 
            width: 149px;
            height: 173px;
            background: url(../img/details/hidingmenu.png) top center no-repeat;
            }

        #mainNav.inactive ul { 
            border-right: 10px solid #07d9f2; 
            opacity: 0.6;
            }

        #mainNav li {
            width: auto;
            float: none;
            display: block;
            clear: left;
            }

        #mainNav a {
            padding: 0 61px 0 30px;
            color: #07d9f2;
            text-align: left;
            border: 0;
            display: inline;
            font-size: 3.5em; 
            line-height: 1.1em;
            background: transparent;
            }

            #mainNav a:hover, #mainNav a:focus {
                background: transparent;
                text-decoration: none;
                }
} /* / 1200 */


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible { visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after { clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix { *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
